.Tag, .Bracket {
  display: inline-block;
}

.Tag {
  color: rgb(12,129,250);
}

.Bracket {
  color: rgb(245,231,2);
}

.Nav {
  font-size: calc(2px + 1.5vmin);
}

.NavButton {
  color: rgb(255, 255, 255);
  background-color: rgb(226, 0, 0);
  border-style: none;
  display: inline-block;
}

.NavButton:hover {
  color: rgb(0, 94, 255);
  background-color: rgb(60, 250, 12);
}

.Main {
  min-height: 100vh;
  display : flex;
  align-items : center;
  background-color: rgb(40,40,40);
  color: rgb(255, 255, 255);
}

.Work {
  padding-left: calc(10px + 5vmin);
}

.CompanyGraphics {
  align-items : left;
  max-width: 50%;
}

.Logo {
  padding: calc(2vmin);
}