.Name {
    font-size: calc(7px + 5vmin)
}

.Intro {
    font-size: calc(2px + 2vmin);
    text-align: left;
    vertical-align: bottom;
}

.Indented, .Intro {
    padding-left: calc(10px + 5vmin);
}

.DoubleIndented {
    padding-left: calc(20px + 10vmin);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.ProfessionalContacts {
    font-size: calc(2px + 1.8vmin);
}

.IntroLink, .YoYoLink {
    text-decoration: none; 
    color: rgb(255, 255, 255);
}

.IntroLink:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
    background-color: rgb(12,129,250);
}

.YoYoLink:hover {
    text-decoration: underline;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}

