.Intro {
  font-size: calc(2px + 2vmin);
  text-align: left;
  vertical-align: bottom;
}

.Indented, .Intro {
  padding-left: calc(10px + 5vmin);
}

.DoubleIndented {
  padding-left: calc(20px + 10vmin);
}

.IntroLink {
  text-decoration: none; 
  color: rgb(255, 255, 255);
}

.IntroLink:hover {
  text-decoration: underline;
}

.NavButton {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-style: none;
}

.NavButton:hover {
  text-decoration: underline;
}
