.Work {
  font-size: calc(2px + 1vmin);
  text-align: left;
  vertical-align: bottom;
  max-width: 35%;
}

.CompanyLink {
  text-decoration: none; 
  color: rgb(255, 255, 255);
}

.CompanyLink:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.25);
}
